@use "../utils";

.layout-container {
  margin-bottom: utils.rem(90);
  padding: utils.rem(24);

  @include utils.breakpoint(utils.$size-md) {
    margin-bottom: 0;
    width: calc(100% - 120px);
    margin-left: utils.rem(120);
    padding: utils.rem(48);
  }

  .main-container {
    width: 100%;
    max-width: utils.$max-w;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: utils.rem(48);

    h1 {
      text-align: center;
      font-size: utils.rem(24);

      @include utils.breakpoint(utils.$size-md) {
        font-size: utils.rem(34);
      }
    }
  }
}
