// Colors
$transparent: #ffffff;
$white: #eceff4;
$black: #121316;
$gray: #d8dee9;

//Transition Duration
$duration: 200ms;

//Max Container Size
$max-w: 56.25rem; //700px

//BreakPoints Size
$size-sm: 33.75rem; //640px
$size-md: 48rem; //768px
$size-lg: 64rem; //1024px
$size-xl: 80rem; //1280px
$size-2xl: 96rem; //1536px
